/* add your CSS here */
.card {
	background-image: url("img/runningpandabackground.jpg");
	background-position: right bottom;
	background-color: rgb(137, 159, 95);
	background-repeat: no-repeat;
    margin: 0 auto;
	height: 30%;
	width: 354px;
	border: 1px solid #000000;
	border-radius: 17px;
	box-shadow: 7px 7px 3px 0px #cececee3;
}

.title {

	font-family: helvetica;
	margin-left: 23px;
	color: #e6f1d2;
	padding: 4px;

}

.image {
	margin: 0 auto;
    display: block;
	width: 300px;
	border-radius: 8px;
}

.info {
	border: 1px solid #000000;
    border-radius: 8px;
    margin: 27px;
    padding: 14px;
    background-color: #ffffff91;
    line-height: 20px;
}

.int_fact {
	margin-top: 0px;
}

.list {
	list-style-type: none;
	padding: 0;
}

.item {
	font-weight: bold;
}

.description {
	margin-bottom: 0px;
}